{name, "neotoma"}.
{authors, ["Sean Cribbs <sean@basho.com>"]}.
{description, "Erlang library and packrat parser-generator for parsing expression grammars"}.
{homepage, "https://github.com/seancribbs/neotoma"}.
{rebar_compatible, true}.
{license, "MIT", "LICENSE"}.
{url, {git, "https://github.com/seancribbs/neotoma.git", {branch, "master"}}}.
{applications, [neotoma]}.
