{name, "neotoma]"}.
{authors, ["Sean Cribbs <sean@basho.com>"]}.
{description, "Erlang library and packrat parser-generator for parsing expression grammars"}.
{homepage, "https://github.com/seancribbs/neotoma"}.
{license, "MIT", "LICENSE"}.
{url, {git, "https://github.com/seancribbs/neotoma.git", {tag, "1.1"}}}.
{applications, [neotoma]}.
{build_command, "make all && cp src/neotoma.app ebin"}.
